<ng-container *ngIf="bookmarks; else placeholder">
  <div class="card-list">
    <kendo-card [width]="'260px'" *ngFor="let bookmark of bookmarks">
      <kendo-card-header class="card-header" kendoCardTitle>
        {{ bookmark.title ? bookmark.title : "untitled" }}
      </kendo-card-header>
      <kendo-card-body>
        <img kendoCardMedia [src]="bookmark.url" />
      </kendo-card-body>
      <kendo-card-actions orientation="vertical">
        <button (click)="removeBookmark(bookmark)" kendoButton>
          Remove it!
        </button>
        <kendo-textbox
          #tags
          disabled
          class="tags-input"
          [value]="bookmark.tags ? bookmark.tags : 'no tags provided'"
        ></kendo-textbox>
      </kendo-card-actions>
    </kendo-card>
  </div>
</ng-container>
<ng-template #placeholder>
  <p>No images here. Would you try to search for anything else?</p>
</ng-template>
